[manifest]
version = "1.0.0"
dump_lua = true

# Suit calculate
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "-- TARGET: evaluate your own general effects"
position = "before"
payload = """if card.base and card.base.suit and card:is_suit(card.base.suit) and SMODS.Suits[card.base.suit].calculate then
    local suits = SMODS.Suits[card.base.suit]:calculate(card, context)
    if suits then
        ret.playing_card = SMODS.merge_effects({ suits, ret.playing_card })
    end
end"""
match_indent = true

# Replace default chips message
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = """if specific_vars.nominal_chips then
    localize{type = 'other', key = 'card_chips', nodes = desc_nodes, vars = {specific_vars.nominal_chips}}
end"""
position = "at"
payload = """if card and card.base and card.base.suit and card:is_suit(card.base.suit) and SMODS.Suits[card.base.suit].strange then
    localize(SMODS.merge_defaults(SMODS.Suits[card.base.suit]:loc_vars(info_queue, card),
        { type = 'descriptions', set = 'Other', key = card.base.suit, nodes = desc_nodes }))
else
    if specific_vars.nominal_chips then
        localize{type = 'other', key = 'card_chips', nodes = desc_nodes, vars = {specific_vars.nominal_chips}}
    end
end"""
match_indent = true
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = """if specific_vars and _c.name ~= 'Stone Card' and specific_vars.nominal_chips then
    localize{type = 'other', key = 'card_chips', nodes = desc_nodes, vars = {specific_vars.nominal_chips}}
end"""
position = "at"
payload = """if card and card.base and card.base.suit and card:is_suit(card.base.suit) and SMODS.Suits[card.base.suit].strange then
    localize(SMODS.merge_defaults(SMODS.Suits[card.base.suit]:loc_vars(info_queue, card),
        { type = 'descriptions', set = 'Other', key = card.base.suit, nodes = desc_nodes }))
else
    if specific_vars and _c.name ~= 'Stone Card' and specific_vars.nominal_chips then
        localize{type = 'other', key = 'card_chips', nodes = desc_nodes, vars = {specific_vars.nominal_chips}}
    end
end"""
match_indent = true
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/game_object.lua"]'
pattern = """if specific_vars and specific_vars.nominal_chips and not self.replace_base_card then
    localize { type = 'other', key = 'card_chips', nodes = desc_nodes, vars = { specific_vars.nominal_chips } }
end"""
position = "at"
payload = """if card and card.base and card.base.suit and card:is_suit(card.base.suit) and SMODS.Suits[card.base.suit].strange then
    localize(SMODS.merge_defaults(SMODS.Suits[card.base.suit]:loc_vars(info_queue, card),
        { type = 'descriptions', set = 'Other', key = card.base.suit, nodes = desc_nodes }))
else
    if specific_vars and specific_vars.nominal_chips and not self.replace_base_card then
        localize { type = 'other', key = 'card_chips', nodes = desc_nodes, vars = { specific_vars.nominal_chips } }
    end
end"""
match_indent = true

# Don't give default chips
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = """if self.ability.effect == 'Stone Card' or self.config.center.replace_base_card then"""
position = "before"
payload = """if SMODS.Suits[self.base.suit].strange then
    return self.ability.bonus + (self.ability.perma_bonus or 0)
end"""
match_indent = true

# Don't call loc_vars on suits twice
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "suit:loc_vars(info_queue, card)"
position = "at"
payload = """if not suit.strange then
    suit:loc_vars(info_queue, card)
end"""
match_indent = true
